@font-face
{
	font-family: digital;
	src:url(digital.ttf);
}
body
{
	background-color: #646464;
}
.container
{
	
	top: 5%;
	left: 5%;
	transform: translate(-20%,-10%);
	text-align: center;
	padding: 10px;
	background-color: white;
	border: 2px solid black;
	box-shadow: 0 0 5px 3px #999;
}
.info
{
	font-family: digital;
}